#wrap{
    width:100%;
    height:100%;
    position:relative;
    font-family:'Open Sans','Noto Sans KR','Nanum Gothic', sans-serif;
    min-width:950px;
}
/* header */
.header{
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -50px;
    width: auto;
    z-index: 50;
    -webkit-transition: all .6s;
    transition: all .6s;
}
.login_wrap{
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -50px;
    -webkit-transition: all .6s;
    transition: all .6s;
    background: #333;
    z-index: 50;
    width: 100px;
    height: 100px;
}
#headerWrap #overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .6s cubic-bezier(.645,.045,.355,1);
    transition: all .6s cubic-bezier(.645,.045,.355,1);
    background: #333;
}
.sticky_header .header{
   position: fixed;
    top: 0;
    margin-top: 0; 
}
.sticky_header .login_wrap{
    margin-top: 0;
    position: fixed;
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.header .menu_wrap{
     position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    display: block;
    -webkit-transition: background .3s;
    transition: background .3s;
    background:#333;
}
.header .menu_wrap:hover,.header.showmenu .menu_wrap{
    background:#3f3f3f;
}
.header.showmenu .menu_wrap:hover{
    background:#333;
}
.header .button_container{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    height: 20px;
    width: 29px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
}
.header.showmenu .button_container .top{
    transform: translateY(7px) translateX(0) rotate(45deg);
}
.header.showmenu .button_container .middle{
    opacity: 0;
}
.header.showmenu .button_container .bottom{
    transform: translateY(-7px) translateX(0) rotate(-45deg);
}
.header.showmenu .button_container span{
    background:#fff;
}
.header .button_container span{
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
    color:#fff;
    background:#fff;
}
.header .button_container span:nth-of-type(2){
    top: 7px;
}
.header .button_container span:nth-of-type(3){
    top: 14px;
}

.header  .logo_wrap{
       display: block;
    float: left;
    width: 130px;
    padding: 25px 0;
    background: #fff;
    text-align: center;
    margin-left: 100px;
    height: 100px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: all .6s cubic-bezier(.165,.84,.44,1);
    position: relative;
}
.header.showmenu  .logo_wrap{
    background:#333;
}
.header .logo_wrap img{
    height:50px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.header.showmenu .logo_wrap img.dark{
    opacity: 0;
    visibility: hidden;
}
.header.showmenu .logo_wrap img.white{
    opacity: 1;
    visibility: visible;
}
.header .logo_wrap img.white{
        opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.login_wrap a{
    display: block;
    text-align: center;
    padding: 33px 0;
}
.login_wrap a i{
    font-size: 30px;
    color: #fff;
}

#headerWrap #overlay.open{
    opacity: 1;
    visibility: visible;
    z-index: 10;
    background: #333;
    display: block;
}

/* main container */
#mainWrap{
    width:100%;
    height:100%;
    position:relative;
    min-width:950px;
}

section{
    width:100%;
    height:100%;
    position: relative;
    z-index: 1;
}

/* section01 */
#section01 .main_video{
    height:100vh;
    overflow:hidden;
    position:relative;
}
#section01 .main_video iframe{
        height: 56.25vw;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        width: 177.77777778vh;
}
#section01 .main_video #player{
    	position:relative;
        width:100%;
        height:100vh;
    }
#section01 .main_video #player .uncontrolled{
    	position:absolute;
        width:100%;
        height:100vh;
        z-index:10;
        top:0;
        left:0;
    }
#section01 .scroll_down{
    position: absolute;
      bottom: 20px;
      left: 50%;
      z-index: 10;
      display: inline-block;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #fff;
      letter-spacing: .1em;
      text-decoration: none;
      transition: opacity .3s;
    padding-top: 70px;
}
#section01 .scroll_down span{
     position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb 1.5s infinite;
      animation: sdb 1.5s infinite;
      box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
#section01 .scroll_down:hover{
     opacity: .5;
}

/* section02 */
#section02{
    height:100vh;
}